        /* Global styles */
        body {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            overflow-x: hidden; /* Prepreči horizontalno pomikanje */
        }

        /* Main content wrapper to ensure footer is at the bottom */
        .main-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
        /* Container styles */
        .container {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            background-color: transparent; /* Odstrani barvo ozadja */
            width: 100%;
            max-width: 500px;
            margin-top: 25px;
            box-shadow: 0 0 20px rgba(113, 156, 14, 0.6); /* Povečaj intenzivnost sence */
        }

        /* Button styles */
        .button-style {
            padding: 10px;
            width: 100%;
            margin-top: 20px;
        }
        /* Input styles */
        .input-label {
            display: block;
            text-align: left;
            margin-bottom: 8px;
            margin-left: 2px;
            color: #5e8208;
        }

        .input-style {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #3a4f06;
        }

        /* Modal styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1001;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(24, 99, 40, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            border-radius: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }